<div class="contenedor-roles bg-neutral">
  <h1 class="text-center my-2 shadow-lg">
    <span class="text-primary font-bold">Administración de roles</span>
  </h1>
</div>

<div class="grid grid-cols-1 sm:grid-cols-6 gap-4 text-xs text-center">

  <div class="col-span-4 shadow-lg">
    <div class="card" id="card-form">
      <div class="card card-title text-primary">Rol</div>
      <div class="grid grid-cols-2 card-body form-control gap-2">
        <label class="label" for="nombreRol">Nombre Rol:</label>
        <input class="input input-primary" type="text" name="nombreRol" id="" [(ngModel)]="rolActual.nombreRol">

        <label class="label" for="nombre">Tipo Rol:</label>
        <input class="input input-primary" type="text" name="nombre" id="" [(ngModel)]="rolActual.tipoRol">
        <label class="label" for="nombre">Estado:</label>
        <select class="select w-full max-w-xs select-primary" [(ngModel)]="rolActual.estado">
          <option disabled selected>Estado</option>
          <option value="true">Activo</option>
          <option value="false">Inactivo</option>
        </select>
      </div>
      <div class="card-actions">
        <button class="btn btn-primary" id="btn-Guardar" (click)="save(rolActual)">Guardar</button>
        <button class="btn btn-danger" id="btn-Eliminar" (click)="deleteById(rolActual.rolId)">Eliminar</button>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <div class="card card-title text-neutral">Lista de roles</div>
    <table class="mx-auto table-auto">
      <thead>
        <tr class="bg-gradient-to-r from-indigo-600 to-purple-600">
          <th class="px-16 py-2">
            <span class="text-gray-100 font-semibold">Nombre Rol</span>
          </th>
          <th class="px-16 py-2">
            <span class="text-gray-100 font-semibold">Tipo rol</span>
          </th>

          <th class="px-16 py-2">
            <span class="text-gray-100 font-semibold">Estado</span>
          </th>
        </tr>
      </thead>
      <tbody class="bg-gray-200 hover:bg-accent active" >
        <tr class="bg-white border-b-2 border-gray-200" *ngFor="let rol of listadoRoles"
        (click)="seleccionarRol(rol)"
          [class.active]="rol==rolActual">
          <td>
            <a>{{rol.nombreRol}}</a>
          </td>

          <td class="px-16 py-2">
            <span>{{rol.tipoRol}}</span>
          </td>

          <td class="px-16 py-2">
            <select name="" id="">
              <option>{{rol.estado}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  