<div class="contenedor-roles">
  <div class="mt-2">
    <table class="mx-auto table-auto">
      <thead>
        <tr class="bg-gradient-to-r from-indigo-600 to-purple-600">
          <th class="px-16 py-2">
            <span class="text-gray-100 font-semibold">Nombre Rol</span>
          </th>
          <th class="px-16 py-2">
            <span class="text-gray-100 font-semibold">Tipo rol</span>
          </th>

          <th class="px-16 py-2">
            <span class="text-gray-100 font-semibold">Estado</span>
          </th>

        </tr>
      </thead>
      <tbody class="bg-gray-200">
        <tr class="bg-white border-b-2 border-gray-200">
          <td>
            <span class="text-center ml-2 font-semibold">John Doe</span>
          </td>

          <td class="px-16 py-2">
            <span>john doe</span>
          </td>

          <td class="px-16 py-2">
            <select name="" id="">
              <option>Admin</option>
              <option>User</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>