<div>
  <h1 class="text-center my-4 shadow-lg"> <!--mx margenes de x, my margen y para separar margen de arriba segun la fuente de las letras y shadow es sombra divisora -->
    <span class="text-primary font-bold">Seguimiento-Etapas</span>
  </h1>
</div>

<div class="grid grid-cols-6 gap-2 text-sm text-center">

  <div class="col-span-2 shadow-lg">
    <div class="card">
      <div class="card card-title">En Desarrollo</div>
      <div class="grid grid-cols-2 card-body form-control">
        <label class="label" for="Nombre">Nombre:</label>
        <input class="input input-primary" type="text" name="Nombre" id="" [(ngModel)]="etapaActual.nombre">
        <label class="label" for="Descripcion">Descripcion:</label>
        <input class="input input-primary" type="text" name="Descripcion" id="" [(ngModel)]="etapaActual.descripcion">
      </div>
      <div class="card-actions">
        <button class="btn btn-accent" (click)="save(etapaActual)">Guardar</button>
        <button class="btn btn-danger" (click)="deleteById(etapaActual.etapasId)">Cancelar</button>
        <br>
        <div class="alert shadow-lg alert-success">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span>¡Anotacion creada exitosamente!</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-4 shadow-lg">
    <div class="card">
      <div class="card card-title">Listado de Etapas</div>
      <div class="grid grid-cols-4 card-body form-control">
      <progress class="progress progress-success w-56" value="10" max="100"></progress>
      <progress class="progress progress-success w-56" value="40" max="100"></progress>
      <progress class="progress progress-success w-56" value="70" max="100"></progress>
      <progress class="progress progress-success w-56" value="100" max="100"></progress>
      <div class="menu bg-base-100">
        <ul>
          <!--let define variables de alcance local q viene siendo etapa y decimos de donde con list q se creo-->
          <li class="hover: bg accent-slate-500 active border border-primary mb-2 rounded-md"
          *ngFor="let etapa of listadoEtapas"
           (click)="seleccionarEtapa(etapa)"
           [class.active]="etapa == etapaActual">
            <a>{{etapa.nombre}} {{etapa.descripcion}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
