<div class="row">
	<div class="col-12 col-sm-2 col-md-2 border-end">
		<h4 class="text-center text-warning my-2">Perfil </h4>


		<div class="card-body  text-justify text-center" *ngIf ="displayPersonaSelect" >
			<h5 class="card-title">Cedula: {{personaSelect.cedula}}</h5>
			<h5 class="card-title">Nombre: {{personaSelect.nombre}}</h5>
			<h5 class="card-title">Apellido: {{personaSelect.apellido}}</h5>
			<h5 class="card-title">Celular: {{personaSelect.celular}}</h5>
			<h5 class="card-title">Correo: {{personaSelect.correo}}</h5>



		</div>


	</div>

	<div class="col-12 col-sm-10 col-md-10">
		<h4 class="text-center p-2 ">GESTIONAR PERSONAS </h4>
		<button class="btn btn-outline-success" (click)="displayNuevaPersona=!displayNuevaPersona">Agregar Personas
		</button>
		<ul class="list-group p-2 text-center">
			<li class="list-group-item ny-2 text-primary p-2 bg-primary text-white ">
				<div class="row">
					<div class="col-1">ID</div>
					<div class="col-2">CEDULA</div>
					<div class="col-3">NOMBRE</div>
					<div class="col-2">CORREO</div>
					<div class="col-4">ACCION</div>


				</div>
			</li>
			<li class="list-group-item ny-1" *ngFor="let persona of personas">
				<div class="row">
					<div class="col-1">{{persona.personaId}}</div>
					<div class="col-2">{{persona.cedula}}</div>
					<div class="col-3">{{persona.nombre + " " + persona.apellido}}</div>
					<div class="col-2">{{persona.correo}}</div>
					<div class="col-4">
						<div class="row ">
							<div class="col-12 col-md-4"><button class="btn btn-outline-success" (click)="buscarPersona(persona.personaId)">VER</button></div>

							<div class="col-12 col-md-4"><button class="btn btn-outline-secondary"(click)="selectPersonaEdit(persona)">MODIFICAR</button>
							</div>
							<div class="col-12 col-md-4"><button class="btn btn-outline-danger mx-2" (click)="eliminarPersona(persona.personaId)">ELIMINAR</button>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

</div>

<p-dialog header="Editar Persona" [modal]="true" [(visible)]="displayPersonaEdit"
	[breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
	<form [formGroup]="formPersona" (ngSubmit)="actualizarPersona()">
		<div class="row m-auto p-2">
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="floatingNombre" formControlName="nombre"
						placeholder="nombre">
					<label for="floatingNombre">Nombre</label>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="floatingApellido" formControlName="apellido"
						placeholder="apellido">
					<label for="floatingApellido">Apellido</label>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="floatingCedula" formControlName="cedula"
						placeholder="cedula">
					<label for="floatingCedula">Cedula</label>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="floatingCelular" formControlName="celular"
						placeholder="Celular">
					<label for="floatingCelular">Celular</label>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="email" class="form-control" id="floatingCorreo" formControlName="correo"
						placeholder="correo">
					<label for="floatingCorreo">Correo</label>
				</div>
			</div>
			<div class="d-grid gap-2 my-2">
				<button [disabled]="!formPersona.valid" type="submit" name="save" id="save"
					class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</form>
</p-dialog>


<p-dialog header="Nueva Persona" [modal]="true" [(visible)]="displayNuevaPersona"
	[breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
	<form [formGroup]="formPersona" (ngSubmit)="guardarPersona()">
		<div class="row m-auto p-2">
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="floatingNombre" formControlName="nombre"
						placeholder="nombre">
					<label for="floatingNombre">Nombre</label>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="floatingApellido" formControlName="apellido"
						placeholder="apellido">
					<label for="floatingApellido">Apellido</label>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="floatingCedula" formControlName="cedula"
						placeholder="cedula">
					<label for="floatingCedula">Cedula</label>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="floatingCelular" formControlName="celular"
						placeholder="Celular">
					<label for="floatingCelular">Celular</label>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="email" class="form-control" id="floatingCorreo" formControlName="correo"
						placeholder="correo">
					<label for="floatingCorreo">Correo</label>
				</div>
			</div>
			<div class="d-grid gap-2 my-2">
				<button [disabled]="!formPersona.valid" type="submit" name="save" id="save"
					class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</form>
</p-dialog>