<div class="container">
    <h1 class="text-3xl font-bold  text-center my-3 text-red-600">GESTIONAR PERSONAS </h1>
    <div class="grid grid-cols-3 gap-4 p-3 m-auto border-t-2 text-center">
      <div class="col-span-1 text-center">
  
        <div class="flex flex-row">
          <div class="basis-1/2"><h4 class="text-3xl  text-gray-50y-400 my-3 text-blue-600  " >Perfil Personal </h4></div>
          <div class="basis-1/2">
            <!-- <button class="btn btn-outline btn-info rounded-sm">Añadir</button> -->
          
          </div>
        </div>
        <hr class="my-2">
        <div class="card w-96 bg-base-100 shadow-xl mx-auto">
          <div class="card-body">
            <h2 class="card-title">Error!</h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="justify-end card-actions">
              <button class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-2 border-r-2 p-1 text-center">
        <h4 class="text-3xl  text-gray-400 my-3">Listado de los últimos seguimentos</h4>
        <!-- <li class="border-2 mx-2 rounded bg-slate-400 text-yellow-50">
          <div class="grid grid-cols-3 gap-4 p-2 m-2">
            <div class="col-span-1">ID</div>
            <div class="col-span-1">Nombre</div>
            <div class="col-span-1">Descripción</div>
          </div>
        </li> -->
        <div class="overflow-x-auto ">
          <table class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th>ID</th>
                <th>CEDULA</th>
                <th>NOMBRE</th>
                <th>CORREO</th>
                <th>ACCIÓN</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>Cy Ganderton</td>
                <td>Quality Control Specialist</td>
                <td>3</td>
                <td>
                    <div class="grid grid-cols-3 gap-4">
                        <div class="col-span-1">
                          <button class="btn btn-outline btn-warning rounded-sm">Ver</button>
          
                        </div>
                        <div class="col-span-1">
                          <button class="btn btn-outline btn-error  rounded-sm">ELIMINAR</button>
                        </div>
                        <div class="col-span-1">
                          <button class="btn btn-outline btn-warning rounded-sm">EDITAR</button>
                        </div>
                      </div>

                </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>