<link rel="stylesheet" href="permiso.component.css">
<div class="container-grande">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <section class="h-screen  bg-gray-200 flex flex-col-reverse sm:flex-row min-h-0 min-w-0 overflow-hidden">
        <aside class="sm:h-full sm:w-16 w-full h-12 bg-gray-800 text-gray-200 rounded-xl">
            <ul class="text-center flex flex-row sm:flex-col w-full">
                <li class="h-14 border-b border-gray-900 hidden sm:block">
                    <a id="page-icon" href="/" class="h-full w-full hover:bg-gray-700 block p-3">
                        <img class="object-contain h-full w-full"
                            src="https://avatars1.githubusercontent.com/u/6157842?v=4" alt="open-source" />
                    </a>
                </li>
                <li class="h-14 border-b border-gray-900 hidden sm:block">
                    <a id="page-icon" href="/" class="h-full w-full hover:bg-gray-700 block p-3">
                        <img class="object-contain h-full w-full"
                            src="https://avatars1.githubusercontent.com/u/6157842?v=4" alt="open-source" />
                    </a>
                </li>
                <li class="h-14 border-b border-gray-900 hidden sm:block">
                    <a id="page-icon" href="/" class="h-full w-full hover:bg-gray-700 block p-3">
                        <img class="object-contain h-full w-full"
                            src="https://avatars1.githubusercontent.com/u/6157842?v=4" alt="open-source" />
                    </a>
                </li>
            </ul>
        </aside>
        <main class="sm:h-full flex-1 flex flex-col min-h-0 min-w-0 overflow-auto">

            <section class="flex-1 pt-3 md:p-6 lg:mb-0 lg:min-h-0 lg:min-w-0 ">
                <div class="navbar bg-neutral text-neutral-content rounded-xl">
                    <div class=" navbar-start">
                        <a class="btn btn-ghost normal-case text-xl">Administracion de permisos</a>
                    </div>
                    <div class="navbar-end">
                        <!-- The button to open modal -->
                        <label for="my-modal" class="btn modal-button bg-success-content">Nuevo Permiso</label>

                        <input type="checkbox" id="my-modal" class="modal-toggle">
                        <div class="modal card shadow-xl">
                            <div class="modal-box " id="card-form">
                                <div class="form-control text-center w-full max-w-xs">
                                    <h4 class="text-2xl text-black">INFORMACIÓN DEL PERMISO</h4>
                                    <div class="divider"></div>
                                    <label class="label" for="nombrePermiso">
                                        <span class="label-text ">Nombre del permiso:</span>
                                    </label>
                                    <input type="text" placeholder="Ingresa nombre" name="nombrePermiso" id=""
                                        [(ngModel)]="permisoActual.nombrePermiso"
                                        class="input input-bordered input-primary w-full max-w-xs text-blue-600  ">

                                    <label class="label" for="fechaCreacion">
                                        <span class="label-text ">Fecha de creación:</span>
                                    </label>
                                    <input type="date" placeholder="Type here" name="fechaCreacion" id=""
                                        [(ngModel)]="permisoActual.fechaCreacion"
                                        class="input input-primary text-black  w-full max-w-xs">
                                    <label class="label" for="fechaCreacion">
                                        <span class="label-text ">Fecha de modificación:</span>
                                    </label>
                                    <input type="date" placeholder="Type here" name="fechaModificacion" id=""
                                        [(ngModel)]="permisoActual.fechaModificacion"
                                        class="input input-primary text-black  w-full max-w-xs">
                                    <label class="label" for="estado">
                                        <span class="label-text ">Estado:</span>
                                    </label>
                                    <select class="select w-full input-primary max-w-xs text-black  select-neutral"
                                        name="estado" id="" [(ngModel)]="permisoActual.estado">
                                        <option disabled selected>Elige el estado del permiso:</option>
                                        <option value="true">Activo</option>
                                        <option value="false">Inactivo</option>
                                    </select>
                                </div>

                                <div class="modal-action" id="botones-options">
                                    <label for="my-modal" class="btn btn-primary" (click)="save(permisoActual)">
                                        Seguro
                                    </label>
                                    <label for="my-modal" class="btn btn-secondary" (click)="limpiarForm()">
                                        Cancelar
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="overflow-x-auto ">
                    <div
                        class="min-w-screen  bg-gray-100 flex items-center justify-center bg-gray-100 font-sans overflow-hidden">
                        <div class="w-full lg:w-5/6">

                            <div class="bg-white shadow-md rounded my-6">

                                <table class="min-w-max w-full table-auto">
                                    <thead>
                                        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                            <th class="py-3 px-6 text-left">Permiso</th>
                                            <th class="py-3 px-6 text-left">Fecha de creación</th>
                                            <th class="py-3 px-6 text-center">Fecha de modificación</th>
                                            <th class="py-3 px-6 text-center">Estado</th>
                                            <th class="py-3 px-6 text-center">Acciones</th>
                                        </tr>
                                    </thead>

                                    <tbody class="text-gray-600 text-sm font-light">

                                        <tr class="border-b border-gray-200 hover:bg-gray-100"
                                            *ngFor="let permiso of listadoPermisos"
                                            [class.active]="permiso==permisoActual">
                                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                                <div class="flex items-center">
                                                    <div class="mr-2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5"
                                                            viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd"
                                                                d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z"
                                                                clip-rule="evenodd" />
                                                        </svg>
                                                    </div>
                                                    <span class="font-medium">{{permiso.nombrePermiso}}</span>
                                                </div>
                                            </td>
                                            <td class="py-3 px-6 text-left">
                                                <div class="flex items-center">
                                                    <div class="mr-2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2"
                                                                d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                                                        </svg>
                                                    </div>
                                                    <span>
                                                        {{permiso.fechaCreacion}}
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="py-3 px-6 text-left">
                                                <div class="flex items-center">
                                                    <div class="mr-2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5"
                                                            viewBox="0 0 20 20" fill="currentColor">
                                                            <path
                                                                d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                                                            <path fill-rule="evenodd"
                                                                d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                                                clip-rule="evenodd" />
                                                        </svg>
                                                    </div>
                                                    <span>{{permiso.fechaModificacion}}</span>
                                                </div>
                                            </td>

                                            <td class="py-3 px-6 text-center">
                                                <span
                                                    class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">{{permiso.estado}}</span>
                                            </td>
                                            <td class="py-3 px-6 text-center">
                                                <div class="flex item-center justify-center">
                                                    <div (click)="seleccionarPermiso(permiso)"
                                                        class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                        <label for="my-modal"> <svg xmlns="http://www.w3.org/2000/svg"
                                                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                            </svg>
                                                        </label>
                                                    </div>
                                                    <input type="checkbox" id="my-modal" class="modal-toggle">
                                                    <!-- The button to open modal -->
                                                    <div
                                                        class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                        <label for="my-modal2"> <svg xmlns="http://www.w3.org/2000/svg"
                                                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                            </svg>
                                                        </label>
                                                    </div>
                                                    <input type="checkbox" id="my-modal2" class="modal-toggle">

                                                    <div class="modal">
                                                        <div class="card w-96 bg-base-100 shadow-xl">
                                                            <div class="card-body">
                                                                <h2 class="card-title ">Alerta!</h2>
                                                                <p>¿Estás seguro de eliminar este permiso?</p>
                                                                <div class="modal-action" id="botones-options">
                                                                    <label for="my-modal2"
                                                                        (click)="seleccionarPermiso(permiso)"
                                                                        class="btn btn-primary"
                                                                        (click)="deleteById(permisoActual.permisoId)">
                                                                        Seguro
                                                                    </label>
                                                                    <label for="my-modal2" class="btn btn-secondary">
                                                                        Cancelar
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="px-6 py-3 border-t flex w-full items-end">
                <p class="text-gray-600">CRM - Rick®</p>
            </footer>
        </main>

    </section>

</div>
