<div class="w-full" id="container-grande">
  <div class="flex" style="height: calc(100vh - 64px - 40px)">
    <div
      class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2"
    >
      <div *ngIf="!enSesion()">
        <h2 class="mb-10 text-3xl font-semibold text-gray-800 md:text-4xl">
          CRM <span class="text-primary">Applications</span>
        </h2>
        <p class="mt-2 text-sm text-gray-500 md:text-base">
          Bienvenido a Crm Applications, aqui podras tener un registro y un
          control de tu empresa.<br /><span class="font-semibold"
            >¡Haz clic aquí para Iniciar Sesión!</span
          >
        </p>
        <div class="flex justify-center lg:justify-start mt-6">
          <button
            [routerLink]="['/login']"
            class="px-4 py-3 mr-3 btn text-xs capitalize bg-gray-900 text-gray-200 font-semibold hover:bg-gray-800"
          >
            Empezar
          </button>
          <button
          [routerLink]="['/conocenos']"
            class="px-4 py-3 btn text-xs capitalize bg-gray-300 border-gray-300 text-gray-900 font-semibold hover:bg-gray-400 hover:border-gray-300"
          >
            Conócenos
          </button>
        </div>
      </div>

      <div *ngIf="enSesion()">
        <h2 class="mb-10 text-3xl font-semibold text-gray-800 md:text-4xl">
          Bienvenido <span class="text-primary">{{nombreSession}},</span>
        </h2>
        <p class="mt-2 text-sm text-gray-500 md:text-base">
          Ahora tienes acceso a
          <span class="font-semibold text-gray-800">Crm</span>&nbsp;<span
            class="font-semibold text-gray-800"
            >Applications</span
          >, te permitira tener mayor control.<br /><span class="font-semibold"
            >Eres Administrador.</span
          >
        </p>
        <div class="flex justify-center lg:justify-start mt-6">
          <button
          [routerLink]="['/conocenos']"
            class="px-4 py-3 btn text-xs capitalize bg-gray-300 border-gray-300 text-gray-900 font-semibold hover:bg-gray-400 hover:border-gray-300"
          >
            Conócenos
          </button>
        </div>
      </div>
    </div>
    <div
      class="hidden rounded-xl overflow-hidden lg:block lg:w-1/2"
      style="clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%)"
    >
      <div
        class="h-full object-cover"
        style="
          background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
        "
      >
        <div class="h-full bg-black opacity-25"></div>
      </div>
    </div>
  </div>
</div>
