@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');
.loader {
  font-size: 16px;
  font-weight: bold;
}
#icon-loader {
  font-size: 4rem;
  margin-left: 10px;
}
 li{
   list-style: none;
 }
