<div class="row bg-light bg-gradient m-auto">
  <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <h1 class="text-center fw-bold p-3">Seguimiento</h1>
  </div>
  <div class="col-12 col-sm-8 col-md-8 col-xl-8 border-end border-top">
    <h4 class="text-center text-muted my-2">Listado de los últimos seguimentos</h4>
    <li class="border rounded list-group-item list-group-item-action bg-white text-center my-1">
      <div class="d-flex flex-row bd-highlight flex-wrap justify-content-around">
        <div class="p-2 bd-highlight">ID</div>
        <div class="p-2 bd-highlight">Nombre</div>
        <div class="p-2 bd-highlight">Descripción</div>
      </div>
    </li>
    <li *ngFor="let seguimiento of listSeguimientos" (click)="buscarSeguimiento(seguimiento.seguimientoId)" class="border rounded list-group-item list-group-item-action bg-light my-1 text-center">
      <div class="d-flex flex-row bd-highlight flex-wrap justify-content-around">
        <div class="p-2 bd-highlight">{{seguimiento.seguimientoId}}</div>
        <div class="p-2 bd-highlight">{{seguimiento.nombre}}</div>
        <div class="p-2 bd-highlight">{{seguimiento.descripcion}}</div>
      </div>
    </li>
  </div>
  <div class="col-12 col-sm-4 col-md-4 col-xl-4 border-top ">
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-grow-1 bd-highlight">
        <h4 class="text-center text-muted my-2">Información</h4>
      </div>
      <div (click)="displayNuevo = !displayNuevo" class="p-2 bd-highlight"><button type="button" class="btn btn-outline-primary">Añadir</button>
      </div>
      <div *ngIf="isSeguimiento" class="p-2 bd-highlight"><button type="button" class="btn btn-outline-info" (click)="mostrarModalEditar()">Editar</button>
      </div>
      <div *ngIf="isSeguimiento" class="p-2 bd-highlight"><button type="button" class="btn btn-outline-danger" (click)="eliminarSeguimiento($event)">Eliminar</button>
      </div>
    </div>
    <ng-container *ngIf="isSeguimiento; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
      <div class="card  my-2">
        <div class="card-header text-center">
          Seguimiento Información:
        </div>
        <div class="card-body  text-justify">
          <h5 class="card-title">Nommbre: {{seguimientoActual.nombre}}</h5>
          <p class="card-text">Descripción: {{seguimientoActual.descripcion}}</p>
          <span>Creado por: {{seguimientoActual.creadoPor}}</span>
        </div>
        <div class="card-footer text-muted text-center">
          {{seguimientoActual.fechaCreacion | date}}
        </div>
      </div>
    </ng-template>
    <ng-template #elseTemplate>
      <div class="card text-center my-2">
        <div class="card-body">
          <h5 class="card-title">No hay un seguimiento seleccionado.</h5>
          <p class="card-text">Porfavor seleccione el seguimiento que deséa tener información.</p>
        </div>
      </div>
    </ng-template>


  </div>

</div>

<p-dialog header="Nuevo" [modal]="true" [(visible)]="displayNuevo" [breakpoints]="breakpointsModal" [style]="tamanioModal" (onHide)="limpiar()">
  <form [formGroup]="formSeguimiento" (ngSubmit)="guardarSeguimiento()">
    <div class="row m-auto p-2">
      <div class="col-12">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingNombre" formControlName="nombre" placeholder="nombre">
          <label for="floatingNombre">Nombre</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="floatingFecha" formControlName="fechaCreacion" placeholder="">
          <label for="floatingFecha">Fecha</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating">
          <select class="form-select" id="floatingSelect" formControlName="creadoPor" >
            <option [value]="null" selected>Seleccionar</option>
            <option *ngFor="let creador of listCreadores" [value]="creador">{{creador}}</option>
          </select>
          <label for="floatingSelect">Creado por:</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <textarea class="form-control" placeholder="ingresar descripción" formControlName="descripcion" id="floatingDescripcion" style="height: 100px"></textarea>
          <label for="floatingDescripcion">Descripción</label>
        </div>
      </div>
      <div class="d-grid gap-2 my-2">
        <button [disabled]="!formSeguimiento.valid" type="submit" name="save" id="save" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog header="Editar" [modal]="true" [(visible)]="displayEditar" [breakpoints]="breakpointsModal" [style]="tamanioModal" (onHide)="limpiar()">
  <form [formGroup]="formSeguimiento" (ngSubmit)="actualizarSeguimiento()">
    <div class="row m-auto p-2">
      <div class="col-12">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingNombre" formControlName="nombre" placeholder="nombre">
          <label for="floatingNombre">Nombre</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="floatingFecha" formControlName="fechaCreacion" placeholder="">
          <label for="floatingFecha">Fecha</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating">
          <select class="form-select" id="floatingSelect" formControlName="creadoPor" >
            <option [value]="null" selected>Seleccionar</option>
            <option *ngFor="let creador of listCreadores" [value]="creador">{{creador}}</option>
          </select>
          <label for="floatingSelect">Creado por:</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <textarea class="form-control" placeholder="ingresar descripción" formControlName="descripcion" id="floatingDescripcion" style="height: 100px"></textarea>
          <label for="floatingDescripcion">Descripción</label>
        </div>
      </div>
      <div class="d-grid gap-2 my-2">
        <button [disabled]="!formSeguimiento.valid" type="submit" name="save" id="save" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
</p-dialog>


<p-confirmPopup></p-confirmPopup>
