<div class="container flex justify-center mx-auto pt-16">
  <div>
    <p class="text-gray-500 text-lg text-center font-normal pb-3">
      EQUIPO DE DESARROLLO
    </p>
    <h1
      class="xl:text-4xl text-3xl text-center text-gray-800 font-extrabold pb-6 sm:w-4/6 w-5/6 mx-auto"
    >
    Las personas talentosas detrás de escena de la organización
    </h1>
  </div>
</div>
<div class="w-full bg-gray-100 px-10 pt-10">
  <div class="container mx-auto">
    <div
      role="list"
      aria-label="Behind the scenes People "
      class="lg:flex md:flex sm:flex items-center xl:justify-between flex-wrap md:justify-around sm:justify-around lg:justify-around"
    >
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="./assets/img/Jeysson Molina.jpeg"
                alt="Display Picture of Andres Berlin"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Jeysson Molina</h1>
            <p class="text-gray-800 text-sm text-center">
              jac.molina@yavirac.edu.ec
            </p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              Módulo de ventas (Cotización)
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        role="listitem"
        class="xl:w-1/3 lg:mx-3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="./assets/img/Jennifer Herrera.jpeg"
                alt="Display Picture of Silene Tokyo"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Jennifer Herrera</h1>
            <p class="text-gray-800 text-sm text-center">jmm.herrera@yavirac.edu.ec</p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              Modulo de ventas (Etapas)
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="./assets/img/Angie Pacas.jpeg"
                alt="Display Picture of Johnson Stone"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Angie Pacas</h1>
            <p class="text-gray-800 text-sm text-center">aer.pacas@yavirac.edu.ec</p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              Módulo de ventas (Actividades)
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="./assets/img/Sebastian Naranjo.jpeg"
                alt="Display Picture of Dean Jones"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Sebastian Naranjo</h1>
            <p class="text-gray-800 text-sm text-center">
              wsm.naranjo@yavirac.edu.ec
            </p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              Campaña publicitaria (Campaña)
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="./assets/img/Kevin Pillajo.jpeg"
                alt="Display Picture of Rachel Adams"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Kevin Pillajo</h1>
            <p class="text-gray-800 text-sm text-center">khm.pillajo@yavirac.edu.ec</p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              Campaña publicitaria (Persona)
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="./assets/img/Ricardo Yaguachi.jpeg"
                alt="Display Picture of Charles Keith"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Ricardo Yaguachi</h1>
            <p class="text-gray-800 text-sm text-center">rmj.yaguachi@yavirac.edu.ec</p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              Campaña publicitaria (Seguimiento)
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="./assets/img/Jhon Tanicuchi.jpg"
                alt="Display Picture of Charles Keith"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Jhon Tanicuchi</h1>
            <p class="text-gray-800 text-sm text-center">jav.tanicuhi@yavirac.edu.ec</p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              Administración de empleados (Usuario)
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="./assets/img/Daniela Torres.jpeg"
                alt="Display Picture of Charles Keith"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Daniela Torres</h1>
            <p class="text-gray-800 text-sm text-center">diq.torres@yavirac.edu.ec</p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              Administración de empleados (Rol)
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="./assets/img/JonathanZambrano.jpeg"
                alt="Display Picture of Charles Keith"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Jonathan  Zambrano</h1>
            <p class="text-gray-800 text-sm text-center">jrr.zambrano@yavirac.edu.ec</p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              Administración de empleados (Permisos)
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
